<section class="main">

  <h2>Information for User #<%= @user.id %></h2>

  <%= render 'cards/user', user: @user %>

  <article class="container">
    <h3>Bio</h3>
    <p><%= @user.bio %></p>
  </article>

  <% @user.recent_posts.each_with_index do |post, post_idx| %>
    <article class="container">
      <h3>Post <%= post_idx + 1 %></h3>
      <p><%= post.text.truncate(50, omission: '...' ) %></p>
      <div class="font-sm right">
        Comments: <%= post.comments_counter || 0 %> Likes: <%= post.likes_counter || 0 %>
      </div>
    </article>
  <% end %>
  <%= link_to user_posts_path(@user.id) do %>
    <button>See all posts</button>
  <% end %>
</section>
