<section class = "main">
  <h2>Here is a list of posts for a given user: </h2>

  <%= render 'cards/user', user: @user %>

  <% @user.posts.each_with_index do |post, post_idx| %>
    <article class="container post">
      <h3><%= post.title %></h3>
      <p><%= post.text %></p>
      <div class="font-sm right">
        Comments: <%= post.comments_counter || 0 %> Likes: <%= post.likes_counter || 0 %>
      </div>
      <%= link_to user_post_path(@user.id, post.id) do %>
        <button>View post</button>
      <% end %>
    </article>
    <div class="comments">
      <% post.recent_comments.each do |comment| %>
        <div class='comment'>
          <span><%= comment.author.name %>: <%= comment.text %></span>
        </div>
      <% end %>
    </div>
  <% end %>
  <article class="pagination">
    <% @user.posts.each_with_index do |post, post_idx | %>
      <%= link_to user_post_path(@user, post) do %>
        <button><%= post_idx + 1 %></button>
      <% end %>
    <% end %>
  </article>
</section>
