<section class = "main">
  <h2>Here is a list of posts for a given user: </h2>

  <%= render 'cards/user', user: @user %>

  <%= link_to new_user_post_path do %>
    <button class="success">Create Post</button>
  <% end %>
  <% @user.posts.each_with_index do |post, post_idx| %>
    <article class="container post">
      <h3><%= post.title %></h3>
      <p><%= post.text %></p>
      <div class="font-sm right">
        Comments: <%= post.comments_counter || 0 %> Likes: <%= post.likes_counter || 0 %>
      </div>
      <%= link_to user_post_path(@user.id, post.id) do %>
        <button>View post</button>
      <% end %>
      <% if can? :destroy, post %>
        <%= link_to user_post_path(@user.id, post.id), data: { turbo_method: :delete, turbo_confirm: "Are you sure?"} do %>
          <button class="danger">Delete</button>
        <% end %>
      <% end %>
    </article>
    <div class="comments">
      <% post.recent_comments.each do |comment| %>
        <div class='comment'>
          <span><%= comment.author.name %>: <%= comment.text %></span>
          <% if can? :destroy, comment %>
            <%= link_to 'delete', user_post_comment_path(post.author_id, post.id, comment.id), data: { turbo_method: :delete, turbo_confirm: 'Are you sure?' } %>
          <% end %>
        </div>
      <% end %>
    </div>
  <% end %>
  <article class="pagination">
    <% @user.posts.each_with_index do |post, post_idx | %>
      <%= link_to user_post_path(@user, post) do %>
        <button><%= post_idx + 1 %></button>
      <% end %>
    <% end %>
  </article>
</section>
