<section class="main center">
  <h2>New Post</h2>
  <%= form_with model: @post, url: user_posts_path, method: :post, locals: true, scope: :new_post do |f| %>
    <div>
      <%= f.label :title %>
      <%= f.text_field :title %>
    </div>
    <div>
      <%= f.label :text %>
      <%= f.text_area :text %>
    </div>
    <%= f.submit 'Create Post' %>
  <% end %>
</section>
