<section class="main">
  <h1>Create a post</h1>
  <%= form_with model: @post, url: user_posts_path, method: :post, locals: true, scope: :new_post do |f| %>
    <div>
      <%= f.label :title %>
      <%= f.text_field :title %>
    </div>
    <div>
      <%= f.label :text %>
      <%= f.text_area :text %>
    </div>
    <%= f.submit %>
  <% end %>
</section>
