<section class="main">
    <article class="container">
    <h2><%= @post.title %> by <%= @user.name %></h2>
      <p><%= @post.text %></p>
      <div class="font-sm right">
        Comments: <%= @post.comments_counter || 0 %> Likes: <%= @post.likes_counter || 0 %>
      </div>
    </article>
    <div class="actions like-comment">
      <%= form_with model: @like, url: user_post_likes_path(@user, @post), method: :post do |f| %>
        <%= f.submit 'Like' %>
      <% end %>
      <%= link_to new_user_post_comment_path(@user, @post) do %>
        <button>Comment</button>
      <% end %>
    </div>
    <div class="comments">
      <% @post.comments.each do |comment| %>
      <div class='comment'>
        <span><%= comment.author.name %>: <%= comment.text %></span>
      </div>
    <% end %>
    </div>
</section>
