<section class="main">
    <article class="container">
    <h2><%= @post.title %> by <%= @user.name %></h2>
      <p><%= @post.text %></p>
      <div class="font-sm right">
        Comments: <%= @post.comments_counter || 0 %> Likes: <%= @post.likes_counter || 0 %>
      </div>
    </article>
    <div class="actions like-comment">
      <%= form_with model: @like, url: user_post_likes_path(@user, @post), method: :post do |f| %>
        <%= f.submit 'Like' %>
      <% end %>
      <%= link_to new_user_post_comment_path(@user, @post) do %>
        <button>Comment</button>
      <% end %>
      <% if can? :destroy, @post %>
        <%= link_to user_post_path, data: { turbo_method: :delete, turbo_confirm: "Are you sure?"} do %>
          <button class="danger">Delete</button>
        <% end %>
      <% end %>
    </div>
    <div class="comments">
      <% @post.comments.each do |comment| %>
        <div class='comment'>
          <span>
            <%= comment.author.name %>: <%= comment.text %>
          </span>
          <% if can? :destroy, comment %>
            <%= link_to 'delete', user_post_comment_path(@post.author_id, @post.id, comment.id), data: { turbo_method: :delete, turbo_confirm: 'Are you sure?' } %>
          <% end %>
        </div>
      <% end %>
    </div>
    <%= link_to 'Back', user_posts_path %>
</section>
