<!DOCTYPE html>
<html>
  <head>
    <title>Railsblog</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <nav class="main-nav">
      <ul>
        <li><%= @current_user&.name || 'Guest' %><%= ' [admin]' if current_user&.role === 'admin' %></li>
        <li>
          <img src="<%= @current_user&.photo || 'https://upload.wikimedia.org/wikipedia/commons/8/89/Portrait_Placeholder.png' %>" class="small rounded" alt="c_u">
        </li>
      </ul>
    </nav>
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
    <%= yield %>
  </body>
</html>
